.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.kiaraSection {
  /* padding-top: 9%; */
  background-color: cadetblue;
}

.aboutMe {
  background-color: #cfe8fc;
}

.skillsBox {
  background-color: aquamarine;
}

.skillsContainer {
  background-color: #cfe8fc;
}