.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.kiaraSection {
  /* padding-top: 9%; */
  background-color: cadetblue;
}

.aboutMe {
  background-color: #cfe8fc;
}

.skillsContainer {
  background-color: #cfe8fc;
}

li {
  list-style: none;
  margin-left: 1.5em;
}

.sliderBox {
  background-color: aquamarine;
}

.sliderContiner {
  background-color: #cfe8fc;
}